<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"> <!-- Add the tools namespace here -->

    <application
        android:allowBackup="false"
        android:label="NetToggle"
        android:supportsRtl="true">

        <!-- We declare the root service, but explicitly tell the compiler to ignore the Instantiatable rule -->
        <service
            android:name=".RootNetworkService"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <service android:name=".NetworkTileService"
            android:label="NetToggle"
            android:icon="@drawable/ic_qs_network"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>
</manifest>
